"*":
  "atom-maven":
    generateClasspathsOnSave: false
    generateClasspathsOnStartup: false
  "atom-package-deps":
    ignored: []
  "atom-perforce":
    autoEdit: true
    autoRevert: true
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autohide-tree-view":
    showOn: "none"
  autosave: {}
  core:
    audioBeep: false
    disabledPackages: [
      "language-rspec"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "target"
    ]
    projectHome: "/sandbox/rsouza/"
    telemetryConsent: "limited"
    themes: [
      "native-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 100
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "56bf1840-324d-3b69-eb86-3b6f84107be2"
  linter:
    lintOnChange: false
    lintPreviewTabs: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintRulesDirs: [
      "/sandbox/rsouza/mw-eslint-rules/lib/rules"
    ]
    eslintrcPath: "/sandbox/rsouza/mw-eslint-rules/conf/eslint.json"
  "linter-rubocop":
    command: "/usr/local/rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
    linterTimeout: 20000
  "linter-ui-default":
    panelHeight: 391
  metrics:
    userId: "7381040f2231c68d0a0b3b71e31c11c64fb72d41"
  "one-light-ui": {}
  "platformio-ide-terminal":
    style:
      theme: "solarized-dark"
  "release-notes":
    viewedVersion: "0.95.0"
  "ruby-test":
    rspecAllCommand: "bundle exec rspec --tty spec"
    rspecFileCommand: "bundle exec rspec --tty {relative_path}"
    rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
    specFramework: "rspec"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "comment.line.number-sign.ruby"
    ]
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    preferredLineLength: 150
    tabLength: 4
".css.source":
  editor:
    tabLength: 4
".erb.html.text":
  editor:
    preferredLineLength: 100
    tabLength: 4
".java.source":
  editor:
    tabLength: 4
".js.regexp.replacement.source":
  editor:
    preferredLineLength: 100
".js.regexp.source":
  editor:
    preferredLineLength: 100
".js.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".ruby.source":
  editor:
    preferredLineLength: 100
".text.xml":
  editor:
    preferredLineLength: 100
    softWrapAtPreferredLineLength: false
    tabLength: 4
".text.xml.xsl":
  editor:
    preferredLineLength: 100
    tabLength: 4
