# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
".platform-darwin atom-workspace":
    "shift-cmd-T": "pane:reopen-closed-item"
    "cmd-shift-t": "pane:reopen-closed-item"
    "cmd-alt-f": "find-and-replace:show-replace"
"atom-workspace atom-text-editor:not([mini])":
    "ctrl-alt-up": "editor:move-line-up"
    "ctrl-alt-down": "editor:move-line-down"
    "ctrl-cmd-up": "unset!"
    "ctrl-cmd-down": "unset!"
